:root {
    --primary-btn-color:rgb(2,32,92) ;
    --primary-hover-btn-color:rgb(0,165,255);

}

.toolbar {
    position: absolute;
    margin-left:655px;
    margin-top: 24px;
    z-index: 99999;
    display: flex;
    gap: 1px;
    background-color: white;
    border-radius: 0.25rem;
    color: white;
}

.toolbar :hover {
    background-color: var(--primary-hover-btn-color);
    cursor: pointer;
}

.pointbtn {
    content: attr(data-tooltip);
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);

}

.pointbtn[title]:hover::after {
    content: attr(title);
    display: block;
  }

.linebtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    
    background: var(--primary-btn-color);

}

.linebtn[title]:hover::after{
    content: attr(title);
    display: block;
}


.polygonbtn  {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);

}

.polygonbtn[title]:hover::after{
    content: attr(title);
    display: block;
}

.clearbtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
}

.clearbtn[title]:hover::after{
    content: attr(title);
    display: block;
}

.mapresetbtn{
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
}

.mapresetbtn[title]:hover::after{
    content: attr(title);
    display: block;
}

.dragbtn{
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
    
}

.dragbtn[title]:hover::after{
    content: attr(title);
    display: block;
}

.screenshotBtn{
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
    color: white;
    font-size: 1.5rem;
}

.screenshotBtn:hover::after{
    display: block;
}

.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white!important;
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background: var(--primary-btn-color)!important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
     
}

.ol-control button :hover{
    --primary-hover-btn-color:rgb(0,165,255);

}

.ol-control{
    margin-top: 24px;
}


