.toolbar {
    position: absolute;
    margin-left:655px;
    margin-top: 24px;
    z-index: 99999;
    display: flex;
    gap: 0.5px;
    background-color: darkblue;
    border-radius: 0.25rem;
}

.toolbar :hover {
    background-color: darkblue;
    cursor: pointer;
}

.pointbtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    border: 1px solid #3764BE;
    
    background: #5482E2;

}

.linebtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: #5482E2;

}


.polygonbtn  {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid #3764BE;
    
    background: #5482E2;

}

.clearbtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: #5482E2;
}

.mapresetbtn{
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: #5482E2;
}

.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white!important;
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background: #5482E2!important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
     
}

.ol-control{
    margin-top: 24px;
}


