/* Bir çok yerde kullanacağımız renkleri burada bir değişkenler vasıtasıyla tuttuk.*/

:root {
    --primary-btn-color:rgb(2,32,92) ;
    --primary-hover-btn-color:rgb(0,165,255);
    --primary-toolbar-background-color:rgb(255,255,255);

}

#map {
    position: relative;
}

/* Toolbarın cssleri*/





.toolbar-content {
    position: absolute;
    margin-left:655px;
    margin-top: 1rem;
    z-index: 99999;
    display: flex;
    gap: 1px;
    background-color: white;
    border-radius: 0.25rem;
    color: white;
    background-color: var(--primary-toolbar-background-color);
    border-radius: 1rem;
}

.toolbar-content :hover {
    background-color: var(--primary-hover-btn-color);
    cursor: pointer;
}

/*Point butonun cssleri*/

.pointbtn {
    content: attr(data-tooltip);
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    border: 1px solid #3764BE;
    
    
    background: var(--primary-btn-color);

}

.pointbtn[title]:hover::after {
    content: attr(title);
    display: block;
  }

/*Line button cssleri*/

.linebtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    
    background: var(--primary-btn-color);

}

.linebtn[title]:hover::after{
    content: attr(title);
    display: block;
}

/*Polygon button cssleri*/

.polygonbtn  {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);

}

.polygonbtn[title]:hover::after{
    content: attr(title);
    display: block;
}

/*Clear button cssleri*/

.clearbtn {
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
}

.clearbtn[title]:hover::after{
    content: attr(title);
    display: block;
}

/*Map reset button cssleri */

.mapresetbtn{
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
}

.mapresetbtn[title]:hover::after{
    content: attr(title);
    display: block;
}


/*Screenshot button cssleri */

.screenshotBtn{
    display: inline-flex;
    padding: 0.3125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid #3764BE;
    
    background: var(--primary-btn-color);
    color: white;
    font-size: 1.5rem;
}

.screenshotBtn:hover::after{
    display: block;
}

/*Zoom butonlarının cssleri */

.ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white!important;
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background: var(--primary-btn-color)!important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
     
}

.ol-control button :hover{
    --primary-hover-btn-color:rgb(0,165,255);

}

.ol-control{
    margin-top: 24px;
}

/* Popupların cssleri */

.ol-popup{
    position: absolute;
    background-color: var(--primary-btn-color);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    color: white;
    
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 99999;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    color: white;
  }
  .ol-popup-closer:after {
    content: "✖";
  }

  /* Screenshot toast */

  .screenshot-toast {
    background-color: var(--primary-btn-color);
    border-radius: 8px;
    color: white;
    padding: 1rem;
    
}

.p-icon.p-icon.p-toast-icon-close-icon {
    color: white; 
}

.ol-tooltip-measure {
    background-color: var(--primary-btn-color);
    border: 1px solid #cccccc;
    padding: 4px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
}

.googlemaps-link{
    color: white;
}

.googlemaps-link:hover{
    cursor: pointer;
}

.popup-button {
    display: inline-block;
    margin-right: 5px; /* İsteğe bağlı: butonlar arasına biraz boşluk eklemek için */
}


/* Mesafe ölçme popupının cssleri */

.distance-info {
    color: white;
    border: 2px solid #cccccc;
    padding: 20px;
    font-size: 12px;
    background-color: var(--primary-btn-color);
    position: relative;
    border-radius: 5%;
}

.distance-info-close-button {
    color: white;
    position: absolute;
    top: 1px;
    right: -3px;
    padding: 5px 10px;
    text-decoration: none;
}

/* Poligon çiziminde alan hesabını gösteren popupın kapatma taginin cssleri */

.area-close-tag{
    color: white;
    position: absolute;
    top: 1px;
    right: -3px;
    padding: 5px 10px;
    text-decoration: none;
}

/* Koordinat tablosunun cssleri */

.table-container {
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 9999;
    background-color: var(--primary-btn-color);
    padding: 20px; /* İç boşluk */
    border-radius: 5px; /* Kenar yuvarlatma */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 500px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2; 
}

.p-button{
    background-color: var(--primary-btn-color);
}

.sidebar-btn{
    position: absolute;
    right: 0;
    z-index: 999;
    
}

.p-button-icon{
    color: white;
}







